@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=IBM+Plex+Sans+KR&family=Itim&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1;
  padding: 15px;
  border: 2px solid #c8d5b9;
  border-radius: 10px;
  font-family: "Hi Melody", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.Editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: #4a7c59;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-family: "Hi Melody", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
}
